

* {
    align-items: center;
    justify-content: center;
    display: flex;
}

body {
    display: inline;
    background: linear-gradient(to right, #ff8, #780);
}

form {
    display: inline;
    justify-content: center;
}

.container{
    display: inline;
    border: 2px solid #780;
    margin: 12px;
    padding: 12px;
    
}

div {
    background-color: #ff8;
}